{% extends 'layouts/app.twig' %}

{% block content %}
    <h1 class="text-3xl md:text-5xl font-extrabold text-center uppercase mb-12 bg-gradient-to-r from-indigo-400 via-purple-500 to-indigo-600 bg-clip-text text-transparent transform -rotate-2">Who paid 99¢</h1>

    {% if messages.status %}
        {% include 'includes/message.twig' with {'message': messages.status | first} %}
    {% endif %}

    <form action="/payments" method="post" id="card-form">
        <div class="mb-3">
            <label for="card-name" class="inline-block font-bold mb-2 uppercase text-sm tracking-wider">Your name</label>
            <input type="text" name="name" id="card-name" required class="border-2 border-gray-200 h-11 px-4 rounded-xl w-full">
        </div>

        <div class="mb-3">
            <label for="email" class="inline-block font-bold mb-2 uppercase text-sm tracking-wider">Email</label>
            <input type="email" name="email" id="email" required class="border-2 border-gray-200 h-11 px-4 rounded-xl w-full">
        </div>

        <div class="mb-3">
            <label for="card" class="inline-block font-bold mb-2 uppercase text-sm tracking-wider">Card details</label>

            <div class="bg-gray-100 p-6 rounded-xl">
                <div id="card"></div>
            </div>
        </div>

        <button type="submit" class="w-full bg-indigo-500 uppercase rounded-xl font-extrabold text-white px-6 h-12">See who paid 99¢ 👉</button>
    </form>
{% endblock %}

{% block scripts %}
    <script>
        let stripe = Stripe("{{ env('STRIPE_KEY') }}")

        const elements = stripe.elements()
        const cardElement = elements.create('card', {
            style: {
                base: {
                    fontSize: '16px'
                }
            }
        })

        const cardForm = document.getElementById('card-form')
        const cardName = document.getElementById('card-name')

        cardElement.mount('#card')

        cardForm.addEventListener('submit', async (e) => {
            e.preventDefault()

            const { paymentMethod, error } = await stripe.createPaymentMethod({
                type: 'card',
                card: cardElement,
                billing_details: {
                    name: cardName.value
                }
            })

            if (error) {
                console.log(error)
            } else {
                let input = document.createElement('input')

                input.setAttribute('type', 'hidden')
                input.setAttribute('name', 'payment_method')
                input.setAttribute('value', paymentMethod.id)

                cardForm.appendChild(input)

                cardForm.submit()
            }
        })
    </script>
{% endblock %}