<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Who paid 99¢</title>

        <link rel="stylesheet" href="app.css">
    </head>
    <body>
        <div class="container mx-auto px-6">
            <div class="max-w-lg mx-auto mt-12 md:mt-24">
                {% block content %}{% endblock %}
            </div>
        </div>

        <script src="https://js.stripe.com/v3/"></script>
        {% block scripts %}{% endblock %}
    </body>
</html>
